!!! 5
/[if lt IE 8 ] <html class="ie unsupported" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en">
%head
  %meta{charset: "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %meta{name: "description", content: "EcoPortal Wiki"}
  %meta{name: "author", content: "info@ecoportal.co.nz"}

  %title
    Yt Streams #{yield :title}

  =stylesheet_link_tag "application", :media => "all"
  =javascript_include_tag "application"

  / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  / [if lt IE 9]>
  /   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  /   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  / <![endif]
    
  =csrf_meta_tags

%body{class: body_classes}
  =render "/layouts/menu"

  .container
    =render '/layouts/flash', flash: flash

    =yield

</html>
